::-webkit-scrollbar {
    width: 0;
  }
.card {
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      img {
          border-radius: 1rem  1rem 0 0 ;
      }
  .card-body {
      height: 12rem;
      overflow-y: auto;
    .card-title {
      color: #158285;
    }
  }
}
