button.join {
    background-color: #158285;
    color: #fff;
    &:active,
    &:focus {
      box-shadow: none !important;
    }
  }
  .header-labeled {
    display: inline-block;
    color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(46,146,149,1) 0%, rgba(21,130,133,1) 100%);
    background: rgb(46,146,149);
    border-radius: 2rem 0 0 2rem;
    margin-inline-start: -1.3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}